#taskbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  /*opacity: 0.9;*/
  height: 50px;
}

.sub-taskbar {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
}

#start-icon {
  font-size: 30px;
  width: 50px;
  text-align: center;
}

#start-icon:hover, #github:hover, #linkedin:hover, #spotify:hover,
#steam:hover, #kaggle:hover {
  cursor: pointer;
  background: #111;
}

#start-icon img {
  vertical-align: middle;
}

.program {
  color: white;
  font-size: 30px;
  text-align: center;
  width: 50px;
  transition: color 0.5s;
}

.program:hover {
  cursor: pointer;
}

.program i {
  vertical-align: middle;
}

#github:hover {
  color: #a29baa;
  transition: color 0.3s
}

#linkedin:hover {
  color: #0077B5;
  transition: color 0.3s
}

#spotify:hover {
  color: #23CF5F;
  transition: color 0.3s
}

#steam:hover {
  color: #bbbbbb;
  transition: color 0.3s
}

#kaggle-img {
  width: 50px;
  height: 50px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.3s;
}

#kaggle-img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transition: filter 0.3s;
}

#system-time {
  float: right;
  color: white;
  text-align: center;
  width: 85px;
}

#time {
  padding-top: 4px;
}

.toolbar {
  color: white;
  font-size: 16px;
  text-align: center;
  width: 30px;
  padding-top: 12px;
  float: right;
}

.toolbar i {
  vertical-align: middle;
}
